---
import CenterLaytout from "../layouts/CenterLayout.astro";
import { blogRepository} from '../scripts/repository/provider';
import type { Blog } from "../scripts/repository/types"

const response = await blogRepository.getBlogs();

const title = "記事一覧";
---
<CenterLaytout title={title}>
	<ul>
	{
		response.contents.map((content: Blog) => (
		<li>
			<a href={content.id}>{content.title}</a>
		</li>
		))
	}
	</ul>
</CenterLaytout >
